.card-group {
  margin: 0 auto; 
  float: none;
  height: 100px;
  width: 300px;
}
.card-body {
  background-color: black;
  text-align: center;
}

.container-table{
  display: none;
}
.card-text{
  text-align: center;
  font-size: 50px;
  background-color: black;
  color: white;
}
#winningText {
  text-align:center;
  font-size: 50px;
}
